OWNER_NAME="💀VISHWA KODITHUWAKKU💀"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "VISHWA-MD"
IMAGE_MENU= "https://telegra.ph/file/624d042aed992b73b60fe.jpg"
NUMERO_OWNER= ""
OWNER_NAME= "Vishwa kodithuwakku"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
